/*body {
	background: url("../images/background_home-page.jpg") no-repeat center center fixed;
	background-size: cover;
}*/
html, body {
	overflow: hidden;
}
#myCarousel {
	min-height:100%;
	min-width:1024px;
	position: fixed;
	height: auto;
	max-width: 100%;
	top: 0;
	left: 0;
}
#background {
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
	height: 70px;
	opacity: .6;
}
#header:hover {
	opacity: 1;
}
.logo{
	position: absolute;
	padding: 5px;
	margin-left: 10%;
}
.header-buttons {
	position: relative;
	right: 10%;
	float: right;
	margin: 0;
	padding: 0;
	text-align: right;
	list-style: none;
}
#buttons li {
	position: relative;
	float: left;
	height: 45px;
	padding-top: 7%;
}
#greeting {
	display: none;
	position: absolute;
	top:200px;
	left:15%;
	right:15%;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 200%;
	letter-spacing: 1px;
	color: rgb(240,240,240);
	background-color: rgba(160,60,70,0.8);
	border-radius: 20px;
	text-align: center;
	padding: 20px 40px 20px 40px;
	line-height:150%;
}
.footer {
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	color: white;
	width: auto;
	min-height: 30px;
	bottom: 0;
	right: 0;
}
#team-info {
	font-family: Verdana, sans-serif;
	font-size: 80%;
	text-align: left;
	padding: 7px 20px 5px 20px;
}
.modal-body {
	padding: 40px 50px;
}
#sign-up{
	/* dobavi margin top */
	background: none;
	border: 0;
	color: rgb(255,255,255);
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Calibri, sans-serif;
	font-size: 150%;
}
#log-in{
	/* dobavi margin top */
	color: rgb(255,255,255);
	background: none;
	border: 0;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Calibri, sans-serif;
	font-size: 150%;

}
.sign-up {
	border: 1px solid black;
	height: auto;
}
.login {
	border: 1px solid black;
	height: auto;
}
.modal-header, .close {
	background-color: rgb(0,35,95);
	color: white !important;
	text-align: center;
}
.modal {
	background-color: rgba(0,35,95,0.2);
}
#registration-button {
	background-color: rgb(0,35,95);
	padding: 10px 5px 10px 5px;
	text-align: center;
	border-radius: 15px;
}
#button-forgotpass {
	color: rgb(255,255,255);
}
#button-login {
	color: rgb(255,255,255);
}
p {
	color: rgb(255,255,255);
}
#not-member {
	margin-left: 10px;
	color: {rgb(255,255,255);}
a:hover {
	color: rgb(255,255,255);
}
}
a:link a:visited a:hover a:active {
	color: rgb(255,255,255);
	text-decoration: none;
}
#message-sent-email {
	display: none;
}
.submit{
	background-color: rgb(0,35,95);
	padding: 10px 5px 10px 5px;
	text-align: center;
	border-radius: 15px;
}
.modal-footer {
	background-color: rgb(0,35,95);
}
@media screen and (max-width: 600px) {
	.carousel slide {
	left: 50%;
	margin-left: -512px;
	position: fixed;
	}
	#pic3, pic4 {
	min-height:150%;
	min-width:1024px;
	position: fixed;
	height: auto;
	max-width: 100%;
	top: 0;
	}
	#header {
		width: 100%;
		height: 80px;
	}
	.header-buttons {
		font-family: Calibri, sans-serif;
		font-size: 115%;
		position: relative;
		right: 0;
		float: right;
		margin: 10px 0 0 10px;
		padding: 10px;
	}
	.logo {
		width: 2%;
	}
	#buttons li a {
		display: block;
		padding: 0 10px;
	}

}
#forgot-password{
	margin-left: 10px;
}

#registration-button-butt{
	padding: 0 5px 10px 5px;
	text-align: center;
	height: 25px;
	color: rgb(255,255,255);
}