/* HEADER ELEMENTS */
#background {
	position: absolute;
	width: 100%;
	height: 150px;
	top: 0;
	right: 0;
	background: -webkit-linear-gradient(rgb(165,215,240), rgba(255,255,255)); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(rgb(165,215,240), rgb(255,255,255)); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(rgb(165,215,240), rgb(255,255,255)); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(rgb(165,215,240), rgb(255,255,255)); /* Standard syntax */
}
.logo{
    height: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
}
#hello{
    margin-left: 11%;
    font-size: 350%;
    color: rgb(255,255,255);
    text-shadow:1px 1px rgb(150,150,150);
    font-family: Book Antigua,serif;
}
.buttons{
    float: right;
    margin-top: 1% !important;
}
#addButton{
    margin-top: 5px;
    background-color: white;
    border: none;
    width: 30px;
    height: 30px;
    color: black;
}
.glyphicon{
    color: rgba(8, 12, 8, 0.7);
}
#settings{
    margin-top: 5px;
    background-color: white;
    border: 0;
    width: 30px;
    height: 30px;
    color:black;
}
.row {
	left: 0;
	top:0;
	height: auto;
}
.container {
	left: 0;
	height: 100%;
}
/* NAVIGATION MENU */
#nav{
	bottom: 0;
	height: 490px;
    overflow: auto;
    margin: 0px;
    width: 30%;
    background: -webkit-linear-gradient(rgb(255,255,255),rgb(165,215,240)); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(rgb(255,255,255),rgb(165,215,240)); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(rgb(255,255,255),rgb(165,215,240)); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(rgb(255,255,255),rgb(165,215,240)); /* Standard syntax */
}
#sort{
    letter-spacing: 1px;
    font-family: Century Gothic,sans-serif;
    font-weight: bold;
    color: rgb(20,110,180);
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 40%;
    text-shadow: 1px 1px rgb(190,190,190);
    line-height: 120%;
    text-align:left;
    cursor: pointer;
}
.badge{
	margin-left: 2px;
}
.sortBy{
    letter-spacing: 1px;
    font-family: Century Gothic,sans-serif;
    font-style:italic;
    font-weight: bold;
    font-size: 120%;
    color: rgb(20,110,180);
    text-shadow: 1px 1px rgb(190,190,190);
    margin-bottom: 10px;
    cursor: pointer;
    padding: 0 0 0 40%;
}
#allTasks{
    letter-spacing: 1px;
    font-family: Century Gothic,sans-serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(20,110,180);
    margin-bottom: 20px;
    padding: 0 0 0 40%;
    cursor: pointer;
    text-shadow: 1px 1px rgb(190,190,190);
}
#sorting{
    display:none;
    text-align:left;
    font-size: 120%;
    list-style-type: none;
}
#category{
    letter-spacing: 1px;
    font-family: Century Gothic,sans-serif;
    font-weight: bold;
    color: rgb(20,110,180);
    margin-bottom: 20px;
    margin-left: 40%;
    text-shadow: 1px 1px rgb(190,190,190);
    line-height: 120%;
    text-align:left;
    cursor: pointer;
}
#categories{
    list-style-type: none;
    text-align:left;
    font-size: 120%;
    text-transform: capitalize;    
}
.categoryLists{
    letter-spacing: 1px;
    font-family: Century Gothic,sans-serif;
    font-style: italic;
    font-size: 120%;
    font-weight: bold;
    color: rgb(20,110,180) !important;
    text-shadow: 1px 1px rgb(190,190,190);
    margin-bottom: 10px;
    cursor: pointer;
    padding: 0 0 0 40%;
    border: 0;
    background: none;
}
#addCategory{
    margin-top: 30px;
    width: 120px;
    height: 30px;
    display: none;
    border-color: rgb(120,120,120);
}
#addCategory:focus{
    border-color: rgb(20,110,180);
}
.addCategoryGroup{
    text-align: right;
}
#addCategoryButton{
    margin-top: 30px;
    border:none;
    background: none;
    letter-spacing: 1px;
    font-family: Calibri, sans-serif;
    font-size: 120%;
    font-style: italic;
    line-height: 120%;
    text-decoration: none;
    color: rgb(120,120,120);
}
.ui-state-default{
    background: none !important;
    border: 0 !important;
    margin-bottom: 10px;
}

/* MAIN CONTENT */
#article{
    overflow: auto;
    background-color: rgb(255,255,255);
    height: 490px;
}
#showTask{
	background-color:rgb(210,240,255);
	border-radius: 10px;
}
.removeX{
	cursor: pointer;
	float: right;
	margin: 5px;
}
#showDescription{
	margin: 5px;
}
#showTime, #showDate{
	margin: 5px;
	border-radius: 5px;
	padding: 2px;
	font-size: 14px;
}
#noTasksDiv {
	width: 100%;
	text-align:center;
	display: none;	
}
#noTasks{
	font-size: 30px;
	
	padding: 20px;
	width: 80%;
	color: rgb(165,215,240); 
}
#form-edit-task {
	display: none;
}
#datepicker3{
	margin: 5px;
}
#basicForm{
    width: 420px;
    height: 130px;
    margin-left: 50px;
    display:none;
}
#datepicker1{
    height: 32px !important;
    margin-left: 0 !important;
    float:left;
}
#timepicker1{
    margin-left: 0 !important;
    height: 32px;
    width: 120px;
}
#basicCheckbox{
    float:right;
    margin-top: 2px;
    text-decoration:none;
    font-weight: normal;
}
#basicCheckboxLabel{
    font-weight: normal;
}
#basicAddTask{
    float: right;
    display: none;
}
#basicButton{
    width: 460px;
}
.addSubTask{
    float:right;
    margin-right: 10px;
    background:none;
    border:0;
}
.subTaskText{
    margin-bottom: 5px;
}
#subTask {
    width: 460px;
    text-align: center;
    margin-left: 23px;
}
#buttonsForCategories{
    margin: 20px 20px 10px;
    height: 40px;
    display:none;
}
#addTask{
    font-family: Calibri, sans-serif;
    font-size: 25px;
    font-weight: bold;
    background:none;
    border:none;
    color:rgb(20,110,180);
    text-decoration: none;
    float:left;
}
#showCompleted{
    font-size: 20px;
    background:none;
    border:none;
    float:right !important;
}
#nameAndButtons{
    margin-top: 10px;
}
#editCategory, #deleteCategory{
    background: none;
    float: right;
    margin-top: 13px;
    font-size: 15px;
    border-radius: 5px;
    display:none;
}
#nameOfCategory{
    font-size: 32px;
    color: rgb(20,110,180);
    text-shadow: 1px 1px rgb(190,190,190);
}
#inputCategory{
    width: 120px;
    float:right;
    margin-top: 12px;
    display:none;
}

textarea{
    resize:none;
    background-color: rgb(240,235,245);
    border-radius: 10px;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* QUICK ADD TASK */

::-webkit-input-placeholder {
	color: rgb(0,0,0) !important;
}
.modal-body{
    width: 100%;
    padding-left: 40px !important;
    padding-right: 50px !important;
    margin-bottom: 0 !important;
}
#addModal{
    background-color: rgba(20,110,180, 0.1);
}
.modal-header {
	background-color: rgb(20,110,180);
}
.addModalHeader, h4, .close {
    color: rgb(255,255,255) !important;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    padding-top: 5px;
}
.addTaskModal{
    float: right !important;
    font-size: 14px !important;
    margin-top: 5px  !important;
    cursor:pointer !important;
    width: 80px !important;
    height: 32px !important;
    background-color: rgb(165,215,240);
    font-weight: bold !important;
}
.addTaskForm{
    margin: 5px !important;
}
.addTaskFooter{
    margin-top: 28px;
}
.modal-footer {
    background-color: rgb(20,110,180);
}
.addModalHeader{
    height: 30px;
    padding-top: 5px !important;
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.close {
	color: rgb(255,255,255);
    padding-right: 5px !important;
}
.select1{
    float: left;
    border-radius: 5px;
    margin-left: 4px;
    margin-top: 5px;
}
.checkbox{
    float:left;
    border: 0;
    border-left: none;
    border-top: none;
    border-radius: 5px;
    margin-top: 5px  !important;
    height: 32px;
    width: 20%;
    text-align: center;
    padding-top: 4px;
    color: rgb(0,0,0);
    background-color: rgb(165,215,240);
}
.sel1{
    border: 0 !important;
    padding-top: 4px;
    width: 16%;
    height: 32px !important;
    text-align:center;
    background-color: rgb(165,215,240) !important;
    border-radius: 5px;
}
#datepicker2{
    height: 32px;
    width: 17%;
    border: 0;
    color: rgb(0,0,0);
    background-color: rgb(165,215,240);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 2px;
}
#timepicker2{
    margin-top: 5px;
    margin-left: 4px;
    border-radius: 5px;
    float:left;
    width: 16%;
    height: 32px;
    border: 0;
    color: rgb(0,0,0);
    background-color: rgb(165,215,240);
}


/* ACCOUNT SETTINGS AND LOG OUT*/

.settingsModalHeader{
    background-color: rgb(20,110,180);
    height: 40px;
    padding-top: 10px !important;
}
.settingsFooter {
    height: 62px;
    padding-top: 10px !important;
}
#deleteAccount {
	color: rgb(255,255,255);
	text-decoration: none;
}
#deleteAccount:hover{
	text-decoration: underline;	
}
#accountSettings{
    border-radius: 0 !important;
    border:none !important;
    width: 100%;
    text-align: left;
    padding-left: 15px;
}
#logOut{
    text-align: left;
    padding-left: 15px;
}
h4{
    margin-top: 0 !important;
}
.submit{
	color: rgb(255,255,255);
    background-color: rgb(20,110,180);
    width: 20% !important;
}
.editDiv{
    margin-bottom: 15px;
}
#nameInput{
	display: none;
    width: 100px;
    margin-left: 20px;
}
#emailInput{
	display: none;
    width: 100px;
    margin-left: 47px;
}
#oldPassInput{
	width: 80px;
	margin-left: 20px;
}
#newPassInput{
	width: 80px;
	margin-left: 14px;
}
#editNameButton, #editEmailButton, #editPassButton{
    font-size: 70%;
    cursor: pointer;
	color: rgb(150,150,150);
}
#saveNameButton, #saveEmailButton, #savePassButton{
    font-size: 70%;
    display: none;
	cursor: pointer;
	color: rgb(150,150,150);
}
.hiddenDiv{
	display: none;
}
.editLabel{
    margin-left: 0;
}
#currentPass, #currentEmail, #currentName{
	font-size: 16px;
	font-style: italic;
	text-decoration: underline;
}
.modalSettings{
    width: 350px;
    margin-left: 200px;
}


/* ADDING TASK FIELD */
#task-table { 
	border-collapse: separate; 
    border-spacing: 0px 5px; 
    margin-top: 10px;
    width: 100%;
}
td {
	color: rgb(0,0,0);
    margin-top: 10px;
    background-color: rgb(165,215,240);
}
td:first-child {
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
    width: 3%;
    text-align: center;
}
td:last-child {
    border-bottom-right-radius: 5px; 
    border-top-right-radius: 5px; 
   	text-align: center;
    width: 6%;
}
.description-task {
	width: 75%;
}
.span-task{
	padding: 2px 0 0 10px;
    font-family: Calibri, sans-serif;
    font-size: 110%;
    display: inline-block;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.date {
	font-family: Calibri, sans-serif;	  
}
.dateTable {
	width: 15%;
	text-align: center;
	padding: 2px;
}
.timeTable {
	width: 15%;
	text-align: center;
	padding: 2px;
}
.subtask-box {
	margin-left: 10%;
	bacground-color: rgb(165,215,240);
	border-radius: 5px;
}
.description-in-subtask {
	width: 100%;
	
}         
.subtask-table {
	border-collapse: separate; 
    border-spacing: 0px 5px; 
    width: 100%;
}
.description-subtask {
	
}
.date-subtask {
	width: 15%;
	text-align: center;
	padding: 2px;
}.time-subtask {
	width: 15%;
	text-align: center;
	padding: 2px;
}

/* ADDING TASK FIELD MENU */

.menu {	
    padding-top: 3px;
    border: none !important;
    background: none !important;
}
.dateTable{
    text-align: center;
    width: 10%;
}
.menuList{
	min-width: 0 !important;
    list-style-type: none;
    padding-left: 5px !important;
    font-family: Calibri, sans-serif;
    font-size: 110%;
    text-transform: uppercase;
    color: rgb(0,0,0);
    background: rgb(255,255,255);
}
.showBasicTask, .editBasicTask, .deleteBasicTask{
    cursor: pointer;
    width: 42px;
}

/* EDIING TASK FIELD MENU */

.editTextarea{
    width: 200px;
}
.editDate{
    width: 50px;
}
.editTime{
    width: 100px;
}
.datepicker2{

}
#basic_example_3{

}

.footer {
	position: fixed;
	background-color: rgba(0,0,0,0.8);
	color: white;
	width: auto;
	min-height: 30px;
	bottom: 0;
	right: 0;
}
#team-info {
	font-family: Verdana, sans-serif;
	font-size: 80%;
	text-align: left;
	padding: 7px 20px 5px 20px;
}

/* RIGHT HOME ARROW*/
#aside{
	position: fixed;
	bottom: 0;
	right: 0;

}
#goTop{
    background: none;
    border: none;
    font-size: 25px;
    color:black;
    text-decoration: none;
}